.keen-slider {
  height: 85%;
  width: clamp(150px, 100%, 1500px);
  cursor: grab;
}

.keen-slider__slide a>img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.forArrows {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: orange;
}

.arrow {
  width: 50px;
  cursor: pointer;
  transform: translateY(-600%);
  position: relative;
  transition: all 0.2s linear;
}

.arrow:hover {
  fill: grey;
}

.arrow--right {
  left: 35%;
}

.arrow--left {
  right: 35%;
}
