:root {
  --main: #dfd8ca;
  --secondary: #fbf3e4;
  --borders: #212121;
  --text: #f6f6f6;
  --link: #6f91b8;
}

* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-weight: 0;
}

*:focus {
  outline: none;
}

.langToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: 2px solid black;
  text-shadow: 0 0 1px black;
  cursor: pointer;
  font-size: clamp(1.5rem, 3vw, 2rem);
  transition: all 0.1s linear;
}

.langToggle:hover {
  box-shadow: 0 0 10px black;
}

.langToggle:active {
  transform: scale(0.9);
}
