:root {
  --main: rgb(32, 33, 37);
  --secondary: rgb(48, 49, 53);
  --borders: rgb(137, 141, 146);
  --text: rgb(254, 254, 254);
  --link: rgb(79, 121, 196);
}

* {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-weight: 0;
}

*:focus {
  outline: none;
}
